@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 10;
    left: 0;
    margin: 12px;
    border-radius: 4px;
} */

/* base styles */
* {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-family: 'Rubik',
        sans-serif;
}
